[user]
	name = tsyirvo
	email = gabriel.hofman.00@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	ignorecase = false

[credential]
  helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[mergetool]
	keepBackup = false

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = code
  log = true

[mergetool "code"]
  cmd = code --wait $MERGED

[push]
	default = matching
  followTags = true

[pull]
	rebase = false

[apply]
	whitespace = fix

[init]
  defaultBranch = master