[user]
	name = Gabriel Hofman
	email = gabriel.hofman.00@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
  ignorecase = false
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[push]
	default = simple
[pull]
	rebase = false
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[apply]
  whitespace = nowarn
[help]
  autocorrect = 1
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
