[user]
	name = tsyirvo
	email = gabriel.hofman.00@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	ignorecase = false

[credential]
  helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[mergetool]
	keepBackup = false

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft --context 5 --skip-unchanged --display inline --background light "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[push]
	default = matching
  followTags = true

[pull]
	rebase = false

[apply]
	whitespace = fix

[init]
  defaultBranch = master

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
