tap 'FelixKratz/formulae'          # JankyBorders
tap 'nikitabobko/tap'              # aerospace
cask_args appdir: '/Applications'
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if and .isDarwin .isMacbook }}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.fonts_casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $name, $id := .packages.darwin.mas -}}
mas {{ $name | quote }}, id: {{ $id }}
{{ end }}
{{ end }}
