set -gx BAT_THEME "Catppuccin Mocha"
set -gx EZA_CONFIG_DIR "$HOME/.config/eza"
fish_add_path --path "$HOME/bin" "$HOME/.local/bin"

{{- if .isDarwin }}
set -gx HOMEBREW_NO_AUTO_UPDATE 1
set -gx PNPM_HOME "$HOME/Library/pnpm"
fish_add_path --path "$PNPM_HOME"

set -gx ANDROID_HOME "$HOME/Library/Android/sdk"
set -gx ANDROID_SDK_ROOT "$ANDROID_HOME"
set -gx ANDROID_AVD_HOME "$HOME/.android/avd"
fish_add_path --path "$ANDROID_HOME/platform-tools" "$ANDROID_HOME/emulator"
set -gx EDITOR zed
{{- else }}
set -gx EDITOR vi
{{- end }}
